/*BASE
*****************************************************/
body { margin: 0;  padding: 0;  font-family: sans-serif;}
img { max-width:100%; }
/*Layout
*****************************************************/

/*Module
*****************************************************/
.button { cursor:pointer; padding:10px; background-color:#222222; border:0px; color:#ffffff; }

.mainContent { padding:20px;}

.currentUser { border: 1px solid #ccc; display: flex; justify-content: space-between; max-width:600px; }
  .currentUser .details { padding-left: 1em; flex: 1; text-align:left; }
  .currentUser img {max-height: 100px; display:block; border:1px solid #cfcfcf;}

.App-logo { animation: App-logo-spin infinite 20s linear; height: 80px; }
  .App-header { background-color: #222; height: 150px; padding: 20px; color: white;text-align: center; }
  .App-intro { font-size: large; }
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

.book { max-width:150px; padding:10px; }

.bookList { list-style-type:none; padding:0px; margin:0px;}
  .bookList li { margin:0px; padding:0px; display:inline-block; vertical-align:top;}

.bookThumbnail { display:inline-block; vertical-align:top; width:60px; }
  .bookThumbnail > img { display: block; width:100%; }

.booksReadList { list-style-type:none; display:inline-block; padding:0px; margin:0px; }
  .booksReadList li { padding:5px; }


